;;;; personal-information.el
;; for anything sensitive

(setq
 user-full-name "Your Name"
 user-mail-address "Your@email.com"
 )

(defvar irc-password "your_password")

(defvar my-org-directory "~/Org/")
(defvar my-org-gtd-file (expand-file-name "gtd.org" my-org-directory))
(defvar my-org-todo-file (expand-file-name "todo.org" my-org-directory))
(defvar my-org-journal-file (expand-file-name "journal.org" my-org-directory))
(defvar my-org-remember-file (expand-file-name "remember.org" my-org-directory))

(provide 'personal-information)
